#accomodations-container {
    flex-wrap: wrap;
    align-self: flex-start;
    margin-top: 24px;
}

.menu-spacer {
    height: 75px;
    width: 100%;
}

.hotel-spacer {
    margin: 12px;
}

.add-options {
    background: rgba(255, 255, 255, .8);
    border: 2px solid black;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    #accomodations-container {
        width: 80%;
        margin-top: 38px;
    }
}

@media only screen and (max-width: 600px) {
    #accomodations-container {
        width: 85%;
    }
}
