main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.invite-container {
    display: flex;
    justify-content: center;
    margin: 35px;
    width: 800px;
    height: 500px;
    border: 2px solid black;
    border-radius: 4px;
}

.invite-container img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .invite-container {
        margin: 15px;
        width: 400px;
        height: 250px;
    }
}
