#main-nav {
    flex-direction: row;
    justify-content: space-between;
    background: url(../images/background-dark.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color:white;
}


.link-container {
    max-width: 140px;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.menu-toggle {
    display: none;
}

@media only screen and (max-width: 767px) {
    #main-nav {
        flex-direction: column;
    }
    .link-container {
        display: none;
    }
    .menu-toggle-show {
        display: flex;
    }
    .menu-toggle {
        font-size: 24px;
        display: initial;
        position: absolute;
        cursor: pointer;
        background: url(../images/background-dark.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}
