Form {
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 550px;
    border-radius: 5px;
    border: 2px solid black;
}

.form-field {
    margin: 8px;
}

.form-error {
    display: block;
    color: red;
    margin: 0px;
    margin-top: 8px;
    font-size: 10px;

}

.text-input {
    display:block;
    margin-top: 8px;
    padding: 12px;
    border-radius: 5px;
    width: 95%;
}

#message-box {
    display: block;
    margin-top: 8px;
    padding: 12px;
    border-radius: 5px;
    width: 95%;
    height: 200px;
}

.drop-down {
    margin-left: 12px;
    margin-top: 8px;
}

@media only screen and (max-width: 768px) {
    Form {
        max-width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    Form {
        padding: 20px;
        max-width: 85%;
    }
}
