Form {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 50px;
    max-width: 550px;
    border-radius: 5px;
    border: 2px solid black;
}

.form-field {
    margin: 8px;
    opacity: 1;
}

.form-error {
    display: block;
    color: red;
    margin: 0px;
    margin-top: 8px;
    font-size: 10px;
    opacity: 1;

}

.text-input {
    display:block;
    margin-top: 8px;
    padding: 12px;
    border-radius: 5px;
    width: 95%;
}

#message-box {
    display: block;
    margin-top: 8px;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.drop-down {
    margin-left: 12px;
    margin-top: 8px;
}

button:disabled {
    color: grey;
    border: 2px solid grey;
    cursor: initial;
}

button {
    transition: 0s;
    width: 100%;
    padding: 6px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    color: black;
    margin: 12px auto;

}
button:hover {
    text-decoration: underline;
    cursor: pointer;
}

button:active {
    color: white;
    background-color: black;
}

.form-is-submitted {
    display: flex;
    justify-content: center;
}

.form-is-submitted p {
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    Form {
        max-width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    Form {
        padding: 20px;
        max-width: 85%;
    }
}
